<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Grilli : Booked </title>
  </head>
  <body>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <h1> "Thank you for choosing us"" </h1>
    <h2> Your reservation is confirmed. </h2>
    <h3> "See you soon" </h3>

    <style>
        body{
            background-image: url(/back.jpg);
            background-size:cover; 
            opacity: 0.9;
            background-repeat: no-repeat;
    

            animation: fadeBackground 4s infinite;
        }
        /* @keyframes fadeBackground {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

@keyframes fadeBackground {
    0%, 100% {
        opacity: 0.9; /* Start and end at the desired opacity */
    }
    50% {
        opacity: 0; /* Fade to transparent at the midpoint */
    }
}
        h1{
            font-size: 45px;
            color: rgb(244, 244, 239);
            font-weight: 100;
            display: flex;
            justify-content: center ;
            text-align: center;
            align-items: center;
            margin-left: 25px;
          
        }
        h2 {
            font-size: 45px;
            color: rgb(245, 244, 240);
            font-weight: 100;
            display: flex;
            justify-content: center ;
            text-align: center;
            align-items: center;
            margin-left: 25px;
        }

        h3{
            font-size: 45px;
            color: rgb(248, 247, 245);
            font-weight: 100;
            display: flex;
            justify-content: center ;
            text-align: center;
            align-items: center;

        }

       
        
    </style>

  </body>
</html>